<div id="<%= dom_id prova %>">
  <p>
    <strong>Titulo:</strong>
    <%= prova.titulo %>
  </p>

  <p>
    <strong>Instrucoes:</strong>
    <%= prova.instrucoes %>
  </p>

  <p>
    <strong>User Id:</strong>
    <%= prova.user_id %>
  </p>

</div>
