<h1>New prova</h1>

<%= render "form", prova: @prova %>

<br>

<%= @prova.id %>

<div>
  <%= link_to "Nova Pergunta", new_questao_path, :prova => @prova %>
  <br/>
  <%= link_to "Back to provas", provas_path%>
</div>
