<div class="jumbotron">
  <h1 class="display-4">Provas</h1>
  <p class="lead">Olá aluno, aqui você poderá ver suas provas disponíveis e pendentes</p>
  <hr class="my-4">
</div>

<div class="row mb-2">
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">Aluno</strong>

        <img src="https://mindfish.com/wp-content/uploads/2020/04/AdobeStock_260037109-scaled.jpeg" class="card-img-top" alt="Sunset Over the Sea"/>
        <h3 class="mb-0">
          <h2>Provas Disponíveis</h2>
        </h3>
        <div class="mb-1 text-muted">Nov 12</div>
        <a href=""></a>
        <button class="btn btn-success" type="button">Clique aqui para ver provas disponíveis</button>
      </div>

    </div>
  </div>
  <div class="col-md-6 box-shadow">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-success">Aluno</strong>
        <img src="https://www.sulinfoco.com.br/wp-content/uploads/2019/07/professor.jpg" class="card-img-top" alt="Sunset Over the Sea"/>
        <h3 class="mb-0">
          <h2>Provas Pendentes</h2>
        </h3>
        <div class="mb-1 text-muted">Nov 11</div>
        <button class="btn btn-info" type="button">Clique aqui para ver provas pendentes</button>
        <a href="#"></a>
      </div>

    </div>
  </div>
</div>
</div>