<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Sobre Nós</h1>
    <p class="lead">Saiba um pouco sobre nosso projeto inovador para democratizar o ensino no Brasil</p>
  </main>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Nosso projeto</h1>
      <p class="lead text-muted">O projeto em questão será o desenvolvimento de uma plataforma em que instituições de ensino poderão utilizar como um ambiente para realização de provas com o intuito de facilitar a aplicação de provas tanto por parte do professor como a realização pelos alunos, propondo uma interação mais objetiva e funcional para as partes interessadas. Algumas funções principais da plataforma estão relacionadas ao cadastramento de alunos e professores, adição e realização de provas, visualização e acompanhamento de resultados.
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <h1>Nosso time</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h4>Matheus Barbosa</h4>
              <p class="card-text">Graduando em Sistemas de Informação e Engenheiro de Software</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Github</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Linkedin</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h4>Mateus Santos</h4>
              <p class="card-text">Graduando em Sistemas de Informação e Engenheiro de Software</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Github</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Linkedin</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h4>Gustavo Rogério</h4>
              <p class="card-text">Graduando em Sistemas de Informação e Engenheiro de Software</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Github</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Linkedin</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h4>Gustavo</h4>
              <p class="card-text">Graduando em Sistemas de Informação e Engenheiro de Software</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Github</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Linkedin</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h4>Gregório Assagra</h4>
              <p class="card-text">Graduando em Sistemas de Informação e Engenheiro de Software</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Github</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Linkedin</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h4>Louis</h4>
              <p class="card-text">Graduando em Sistemas de Informação e Engenheiro de Software</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Github</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Linkedin</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>