<div id="<%= dom_id questao %>">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Questões</h5>
      <p class="card-text">
        <strong>Pergunta:</strong>
        <%= questao.pergunta %>
      </p>
    </div>
  </div>
</div>
