<div id="<%= dom_id questao %>">
  <p>
    <strong>Pergunta:</strong>
    <%= questao.pergunta %>
  </p>

  <p>
    <strong>Id da questao:</strong>
    <%= questao.id %>
  </p>

  <p>
    <strong>Id da prova:</strong>
    <%= questao.prova_id %>
  </p>

</div>
