  <div class="jumbotron">
    <h1 class="display-4">Questões</h1>
    <p class="lead">Editar questões</p>
    <hr class="my-4">
    <div class="alinhamento">
      <div class="card" style="width: 18rem;">
        <img src="https://www.sulinfoco.com.br/wp-content/uploads/2019/07/professor.jpg" class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-body">
          <%= render "form", questao: @questao %>
          <div>
            <button type="button" class="btn alinhamento"><%= link_to "Mostrar Pergunta", @questao %></button>
            <button type="button" class="btn alinhamento"><%= link_to "Listar Perguntas", questaos_path %></button>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
      .alinhamento{
          display: flex;
          justify-content: center;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
      }
  </style>
